.btn{
    
    height:35px;
    border-radius:4px;
    left:15px;
    right:15px;
    bottom:13px;
    margin:auto;
    position:absolute;
    background-size: cover;

    &--inplay {
        background-image:url("../../images/bg_in_play_item@1x.png"); 
        color:$mainWhite;

        div {
            float:left;
            margin-top:9px;
        }

        div:nth-child(2) {
            width: 27%;
            max-width: 190px;
            min-width:75px;
            overflow: hidden;
            white-space: nowrap;
            position:relative;
            height: inherit;
            @mixin atSmaller {
                width:35%;    
                max-width: 190px;
            }

            @mixin at1248{
                width: 26%;
                max-width: 75px; 
            }

            @mixin atLarger {
                width:35%;    
                max-width: 190px;
            }
        }

        div:nth-child(3){
            font-size:14px;
            margin-top:10px;
        }

        div:last-child {
            float:right;
            display:flex;
        }
        
    }

    &--pregame {
        background-image:url("../../images/bg_pre_game_item@2x.png"); 
        color:$mainWhite;
        
        div {
            float:left;
            margin-top:9px;
        }

        div:nth-child(2) {
            width: 27%;
            max-width: 190px;
            min-width:75px;
            overflow: hidden;
            white-space: nowrap;
            position:relative;
            height: inherit;
            @mixin atSmaller {
                width:35%;    
                max-width: 190px;
            }

            @mixin at1248{
                width: 26%;
                max-width: 75px; 
            }

            @mixin atLarger {
                width:35%;    
                max-width: 190px;
            }
        }

        div:nth-child(3){
            font-size:14px;
            margin-top:10px;
        }

        div:last-child {
            float:right;
            display:flex;
        }
    }

    &--tickicon {
        
       width:20px;
       height:19px;
       margin:-2px 12px 0 12px;
    }

    &--watchicon {
        width:15px;
        margin-right:12px;
        margin-left:5px;
    }

    &--btn-selected {
        border: 3px solid transparent !important;
        box-shadow: inset 0px 0px 0px 2px #fff;
        box-sizing: border-box;
        div{
            margin-top:6px !important;
        }
    }
}

