.calenders {
    ul {
        margin:0;
        white-space: nowrap;
        position: absolute;
        width: 100%;
        height: 60px;
        padding: 0;
    }

    li {
        list-style:none;
        height: 30px;
        display:inline-block;
        padding:15px;
        transition: all 0.3s linear;


        div {
            display:grid !important;
            text-align:center;
            line-height: 1.4;
            width:43px;

            span:first-child{
                font-size: 14px;
                color:#9B9B9B;
            }

            span:nth-child(2){
                font-size: 10px;
                color:#656565;
            }
        }
    }

    li:hover{
        background-color:#484848;
    }

    &--active {
        >div {
            span:first-child{
                //font-weight: bold;
                font-size: 16px;
                color: $mainWhite !important;
            }
            span:nth-child(2){
                color: rgb(194, 207, 225);
                font-size: 12px !important;
                margin-bottom:2px;
            }
            span:last-child{
                width: 30px;
                height: 2px;
                background-color: #fff;
                border-radius: 10px;
                margin: auto;
            }
            
        }
    }
}