.header-title {
        height:50px;
        width:100%;
        color:$mainWhite;
        
        background-size: auto 100%;
        background-repeat: round;
        text-shadow: 0 1px 3px rgba(0,0,0,.34);
        //margin-top:10px;
        display:flex;    
        align-items: center;
        justify-content: center;

     &--inplay{
        background-image:url("../../images/In-Play-Title.png"); 
        font-size: 14px;
        font-weight:bold;
        text-transform:uppercase;
     }

     &--pregame{
        background-image:url("../../images/Pre-Game-Title.png"); 
        font-size: 14px;
        font-weight:bold;
        text-transform:uppercase;
     }

     &--livescore{
         
        height:50px;
        width:100%;
        color:$mainWhite;
        background-image:url("../../images/bg_mobile_quarter@1x.png"); 
        background-size: cover;
        div {
            float:left;
        }

        div:first-child {
            width: 66px;
            border-radius: 4px;
            min-height: 24px;
            font-size: 12px;
            margin-right: 8px;
            margin-left: 8px;
            align-items: center;
            display: flex;
            justify-content: center;
            text-align:center;height: auto;
            padding:2px 0px 2px 0px;
        }

        div:nth-child(2) {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            flex: 1;
            padding-right: 15px;
        }

        

        @mixin clearfix;
     }
}