.inplay-pregame {
    overflow-y: scroll ;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    @mixin clearfix;
    /*div {
        float:left;
    }*/

    &--inplay {
        @mixin clearfix;
        width:100%;
        float:left;
        @mixin at672 {
            width:100%;
            max-width:480px;
            min-width:320px;
        }

        @mixin at912 {
            width:100%;
            min-width:320px;
            max-width:480px;
        }

        @mixin atLarge {
            width:480px;
        }
        
        @mixin at1248 {
            width:320px;
            margin-right:16px;
        }

        @mixin atLarger {
            width:480px;
        }
    }

    &--pregame {
        @mixin clearfix;
        width:100%;
        float:left;

        @mixin at672 {
            width:100%;
            max-width:480px;
            min-width:320px;
        }

        @mixin at912 {
            width:100%;
            min-width:320px;
            max-width:480px;
        }

        @mixin atLarge {
            width:480px;
        }

        @mixin at1248 {
            width:320px;
        }

        @mixin atLarger {
            width:480px;
        }
    }

    &--content {
        min-height:calc(100vh - 202px);
        margin-right:5px;    
        padding-top: 10px;
    }
}