.inplay-pregame {
    overflow-y: scroll ;
    height: 100%;
    -webkit-overflow-scrolling: touch;
    @mixin clearfix;
    /*div {
        float:left;
    }*/

    &--inplay {
        @mixin clearfix;
        width:100%;
        float:left;
        @mixin at672 {
            width:100%;
            //max-width:480px;
            min-width:320px;
        }

        @mixin at912 {
            width:100%;
            //min-width:320px;
            //max-width:480px;
        }

        @mixin atLarge {
            width:100%;
        }
        
        @mixin at1248 {
            width:calc(50% - 8px);
            margin-right:16px;
        }

        @mixin atLarger {
            width:calc(50% - 8px);
        }
    }

    &--pregame {
        @mixin clearfix;
        width:100%;
        float:left;

        @mixin at672 {
            width:100%;
            //max-width:480px;
            min-width:320px;
        }

        @mixin at912 {
            width:100%;
            //min-width:320px;
            //max-width:480px;
        }

        @mixin atLarge {
            width:100%;
        }

        @mixin at1248 {
            width:calc(50% - 8px);
        }

        @mixin atLarger {
            width:calc(50% - 8px);
        }
    }

    &--content {
        min-height:calc(100vh - 148px);
        padding-top: 10px;

        @mixin atSmall{
            padding-left:16px;
            padding-right:16px;
        }

        @mixin atLarger {
             padding-left:0px;
        }
    }
}