.match-prediction{
    width:100%;
    height:110px;
    position:relative;
    cursor:pointer;

    @mixin clearfix;

    &--kickoff-inplay {
        width:82px;
        text-align:center;
        display: inline-grid;
        color:#FF9982;
        text-transform: capitalize;
        line-height:1.5;
        font-size: 12px;
        float:left;
        margin-top: 7px;
    }

    &--kickoff-expired {
        width:82px;
        text-align:center;
        display: inline-grid;
        color:#C9C9C9;
        text-transform: capitalize;
        line-height:1.5;
        font-size: 12px;
        float:left;
        margin-top: 7px;
    }

    &--kickoff-pregame {
        width:82px;
        text-align:center;
        display: inline-grid;
        color:#009933;
        text-transform: capitalize;
        line-height:1.5;
        font-size: 12px;
        float:left;
        margin-top: 7px;
    }

    &--teamname {
        display: inline-grid;
        line-height:1.5;
        float:left;
    }

    &--score {
        display: inline-grid;
        float:right !important;
        padding-right:25px;
        line-height:1.5;
    }

    &--items{
        border-radius:4px;
        left:5px;
        right:5px;
        top:6px;
        bottom:6px;
        position:absolute;
        margin:auto;
    }

    &--pregame:nth-child(2n),&--inplay:nth-child(2n),&--expired:nth-child(2n){
        background-color:$mainWhite;
    }

    &--inplay:nth-child(2n+1){
        background-color:#ffe6e6;
    }

    &--pregame:nth-child(2n+1){
        background-color:#adebc1;
    }

    &--expired:nth-child(2n+1){
        background-color:#F0F1F1;
    }
    
    &--inplay:hover {
        background-color:$mainRed;
    }
    
    &--pregame:nth-child(2n):hover &--items {
        background-color:$mainWhite;
    } 

    &--pregame:nth-child(2n+1):hover &--items {
        background-color:#adebc1;
    }
    &--inplay:nth-child(2n):hover &--items {
        background-color:$mainWhite;
    }
    &--inplay:nth-child(2n+1):hover &--items {
        background-color:#ffe6e6;
    }

    &--pregame:hover {
        background-color:#26994B;
    }
    
}

