.row {
    
    width:100%;
    @mixin clearfix;

    &__calendar {
        @mixin clearfix;
        width:100%;
        height:60px;
        display:flex;
        div {
            float:left
        }

        div:first-child {
            display: flex;
            align-items: center;
            font-size: 30px;
            color: #577DBB;
            cursor: pointer;
        }

        div:nth-child(2) {
            flex:1;
            position: relative;
            overflow-y: hidden;
            overflow-x: hidden;
        }

        div:nth-child(3) {
            display: flex;
            align-items: center;
            font-size: 30px;
            color: #577DBB;
            cursor: pointer;
        }
    }

    &__6{
        float:left;
        width:50%;
    }

   
    &__prediction {
        float:left;
        width:100%;
        height:100vh;
        position:relative;
        overflow: auto;
        bottom: 0;
        height: -webkit-fill-available;
        margin-top: 10px;
    }

    &__livescore {
        float:left;
        width:100%;
        height:100vh;
        position:relative;
        bottom: 0;
        height: -webkit-fill-available;
    }

    &__prediction-detail , &__livescore-detail {
        top:0;
        float:left;
        width: 100%;
        background-color:rgba($mainBlack,.5);
        height:100vh;
        overflow:hidden;
        opacity: 1;
        transition: opacity 0.5s linear;
        position: absolute;
    }

    &__livescorecontent {
        width:100%;
        height:100vh;
        position: absolute;
        @mixin atSmaller {
            width:480px;
            margin:auto;
            left:0;
            right:0;
            position:absolute; 
            top: 63px; 
            bottom: 0;
        }

        @mixin at672 {
            width:100%;
            max-width: 480px;
            position:absolute;
            left:0;
            right:0;
            top:63px;
            bottom:0;
            padding-left:auto;
            padding-right:auto;
        }

        @mixin at912 {
            min-width:320px;
            max-width:480px;
            width:auto;
            position:absolute;
            left:16px;
            right:16px;
            top:63px;
            bottom:0;
            padding-left:auto;
            padding-right:auto;
        }

        @mixin at1248 {
            width:max-content;
            min-width:max-content;
            max-width:max-content;
            position:absolute;
            left:0;
            right:0;
            top:63px;
            bottom:0;
            padding-left:auto;
            padding-right:auto;
        }
    }

    &__inplay-pregame {
        width:100%;
        height:100vh;
        position: absolute;
        @mixin atSmaller {
            width:480px;
            margin:auto;
            left:0;
            right:0;
            position:absolute;
        }

        @mixin at672 {
            width:100%;
            max-width: 480px;
            position:absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            padding-left:auto;
            padding-right:auto;
        }

        @mixin at912 {
            min-width:320px;
            max-width:480px;
            width:auto;
            position:absolute;
            left:16px;
            right:16px;
            top:0;
            bottom:0;
            padding-left:auto;
            padding-right:auto;
        }

        @mixin at1248 {
            width:max-content;
            min-width:max-content;
            max-width:max-content;
            position:absolute;
            left:0;
            right:0;
            top:0;
            bottom:0;
            padding-left:auto;
            padding-right:auto;
        }
    }

    @mixin at672 {
        &__prediction , &__livescore {
            float:left;
            width:calc(100vw - 320px);
        }
        
        &__prediction-detail , &__livescore-detail {
            position:static !important;
            float:left;
            width: 320px;
            background-color:transparent;
        }
    }

    @mixin at912 {
        &__prediction , &__livescore {
            float:left;
            width:calc(100vw - 480px);
        }
        
        &__prediction-detail , &__livescore-detail {
            position:static;
            float:left;
            width:480px;
            background-color:transparent;
        }
    }

    @mixin atLarger {
        &__prediction , &__livescore {
            float:left;
            width:69.38%
        }
        
        &__prediction-detail , &__livescore-detail {
            position:static;
            float:left;
            width:480px;
            background-color:transparent;
        }
    }
}

.fade-out {
	position:absolute;
    opacity: 1;
}

.fade-in {
    position:static;
}

@keyframes fadeOut {
    from {
        opacity :1;
    }

    to {
        opacity :0;
        display:none;
    }
}