.side-bar-menu{
    position:absolute;
    top:0;
    background-color:rgba($mainBlack,.2);
    width:100%;
    height:100%;
    left:0;
    transform:translateX(-100%);
    transition: transform 0.5s ease-in-out;
    z-index: 4;

    @mixin atMedium {
        display:none !important;
    }

    &--is-visible {
        transform:translateX(0);
    }
}